html {
    font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;

}

.container {
    max-width: 375px;
    margin-left: auto;
    margin-left: auto;
    background-color: #fafbfc;

}
.dayere {
    background-color: #3EB09B;
    width: 156px;
height: 156px;
top: 72px;
border-radius: 100%;

}
.img80 {
left: 21.2%;
    top: 19.25%;
}

.hh {
    margin-top: 84px;
    margin-bottom: 0.5rem;
    color: #25396F;
}
.hhh {
    color: 
    #25396F;
    font-size: small;
}
.moj {
    width: 351px;
    height: 309.5px;
}
.btm {
    background-color:  #89D2C4;
    width: 318px;
    height: 48px;
    left: 16px;
    top: 222px;
    border-radius:30px;
    color:#F2F6FC;
    ;
}



.img81 {
left: 43.06%;
right: -15.56%;
top: -7.03%;
bottom: 63.91%;
}
.helo {
    position: absolute;
width: 30%;
height: 90px;
left: 16px;
top: 104px;
color: #3EB09B;;
}
.mtn1 {
margin-top: 70%;
color: #3EB09B;

}

.btm1 {
    border-radius: 3rem;
    background-color: #00866A;
    color: #F2F6FC;
    padding: 12px 66px;
}