html {
    font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;

}

.container {
    max-width: 375px;
    margin-left: auto;
    margin-left: auto;
    background-color: #fafbfc;

}
.dayere {
    background-color: #3EB09B;
    width: 156px;
height: 156px;
top: 72px;
border-radius: 100%;

}
.img80 {
left: 21.2%;
    top: 19.25%;
}

.hh {
    margin-top: 84px;
    margin-bottom: 0.5rem;
    color: #25396F;
}
.hhh {
    color: 
    #25396F;
    font-size: small;
}
.moj {
    width: 351px;
    height: 309.5px;
}
.btm {
    background-color:  #89D2C4;
    width: 318px;
    height: 48px;
    left: 16px;
    top: 222px;
    border-radius:30px;
    color:#F2F6FC;
    ;
}



.img81 {
left: 43.06%;
right: -15.56%;
top: -7.03%;
bottom: 63.91%;
}
.helo {
    position: absolute;
width: 30%;
height: 90px;
left: 16px;
top: 104px;
color: #3EB09B;;
}
.mtn1 {
margin-top: 70%;
color: #3EB09B;

}

.btm1 {
    border-radius: 3rem;
    background-color: #00866A;
    color: #F2F6FC;
    padding: 12px 66px;
}

.mtn2 {
    color: #25396F;
}
.pp {
    font-size: small;
}
.porteghal {
 margin-right: 0;

}
.header1 {
    background-color: #00866A;
    height: 2rem;
    background-image: url(./../image/Vector\ \(5\).png), url(./../image/Vector\ \(14\).png);
}
.hm {
    margin: 0 1.2%;
}
.medad {
    right: auto;
}
.Symptom {
    font-size: x-small;
    color: #00866A;
}
.btm2 {
    background: #89D2C4;
    border-radius: 30px;
    width: 50%;
    height: 1.8rem;

}
.btm3 {
    background: #89D2C4;
    border-radius: 30px;
    width: 28%;
    height: 1.8rem;
}
.btm4 {
    background: #89D2C4;
    border-radius: 30px;
    width: 20%;
    height: 1.8rem;
}
.tools {
    font-size: small;
}
.sorati {
    background-color: #EE6093;
}
.adamak {
    margin-top: -69px;
    margin-left: 25px;
}
.kick {
    font-size: x-small;
}
.firozi {
    background-color: #1AB0B0;
}
.mtn3 {
    width: 80%;
    font-size: smaller;
}
.rang {
    color:  #00866A;
    font-size: smaller;
}
.tarik {
    height: 9.5rem;
    background-image:linear-gradient(70deg, rgba(40, 39, 39, 0.68), rgba(43, 42, 42, 0.68)), url(./../image/e892d24c-d897-46ab-b0ed-4a8290afd404.jfif);
}
.film {
    top: 4rem;
    left: 10rem;
}
.btm5 {
    background-color: #00866A;
    width: 100%;
    border-radius: 30px;
    height: 3rem;
}.baby {
    border: 1px solid #EE6093 ;
} 
.btm6 {
    width: 33%;
    height: 2.5rem;
    color: #F2F6FC;
    ;
}

.sorati1 {
    background-color: #EE6093;
    background-image: url(./../image/Vector\ \(8\).png), url(./../image/Vector\ \(9\).png);

}
.radif {
    margin-top: -10px; 
    border-bottom-width: 100px;
}
.marjinr {
    margin-right: -5px;
    background-color: #FFFFFF;
    font-weight: 600;
}

.firoze {
    background-color: #D1EFEF;
    color: #1AB0B0;
    font-weight: 600;
    padding: .6rem 1.1rem;
}
.flash {
    margin-left: -6px;
}
.firozi1 {
    background-color: #1AB0B0;
    background-image: url(./../image/Vector\ \(8\).png), url(./../image/Vector\ \(9\).png);
}

.nafti {
    color: #398AA5;
}
.fw {
    font-weight: 600;
}
.input1 {
    border: 1px solid #398AA5;
    width: 19.9rem;
    height: 2.6rem;
}
.serch {
    background-color: #398AA5;
    margin: 20px -37px;
}
.nothing {
    width: 20%;
    border: 1px solid #ACACAC;
    font-size: .7rem;
    padding: 2px 0;
    color: #ACACAC;
}
.fatisue {
    width: 40%;
    border: 1px solid #ACACAC;
    font-size: .7rem;
    padding: 2px 0;
    color: #ACACAC;
}
.dizziness {
    width: 25%;
    height: 1.5rem;
    font-size: .7rem;
    padding: 2px 0;
    color: #398AA5;
    background-color: #B0D0DB;
}
.tik {
    background-color: #398AA5;
    padding: 1px 2px;
    margin: 2px 0;
}
.morning {
    width: 48%;
    height: 1.5rem;
    font-size: .7rem;
    padding: 2px 0;
    color: #398AA5;
    background-color: #B0D0DB;
}
.acen {
    width: 15%;
    border: 1px solid #ACACAC;
    font-size: .7rem;
    padding: 2px 0;
    color: #ACACAC;
}
.dizziness1 {
    width: 25%;
    height: 1.5rem;
    border: 1px solid  #61A1B7;
    font-size: .7rem;
    padding: 2px 0;
    color:  #61A1B7;
}
.morning1 {
    width: 48%;
    height: 1.5rem;
    font-size: .7rem;
    padding: 2px 0;
    color: #398AA5;
    border: 1px solid  #61A1B7;
}
.goli {
    color: #E18AB6;
}
.serch1 {
    background-color: #E7A1C5;
    margin: 20px -37px;
}
.input2 {
    border: 1px solid #E7A1C5;
    width: 19.9rem;
    height: 2.6rem;
}
.Benadryl {
    width: 25%;
    height: 1.5rem;
    font-size: .7rem;
    padding: 2px 0;
    color: #E18AB6;
    background-color: #F3D0E2;
}
.tik1 {
    background-color: #E18AB6;
    padding: 1px 2px;
    margin: 2px 0;
}
.Endometrin {
    width: 26%;
    border: 1px solid #ACACAC;
    font-size: .7rem;
    padding: 2px 0;
    color: #ACACAC;
}
.dizziness2 {
    width: 25%;
    height: 1.5rem;
    border: 1px solid #E7A1C5;
    font-size: .7rem;
    padding: 2px 0;
    color:  #E7A1C5;
}
.nafti1 {
    color: #45A4A7;
}
.nafti2 {
    background-color: #45A4A7;
}
.input3 {
    border: 1px solid #45A4A7;
    width: 19.9rem;
    height: 2.6rem;
}
.serch2 {
    background-color: #45A4A7;
    margin: 20px -37px;
}
.calm {
    width: 20%;
    height: 1.5rem;
    background-color: #B5DBDC;
    font-size: .7rem;
    padding: 2px 0;
    color: #45A4A7;
}
.moody {
    width: 23%;
    height: 1.5rem;
    background-color: #B5DBDC;
    font-size: .7rem;
    padding: 2px 0;
    color: #45A4A7;
}
.moody1 {
    width: 23%;
    height: 1.5rem;
    border: 1px solid #6AB6B9;
    font-size: .7rem;
    padding: 2px 0;
    color: #6AB6B9;
}
.calm1 {
    width: 20%;
    height: 1.5rem;
    border: 1px solid #6AB6B9;
    font-size: .7rem;
    padding: 2px 0;
    color: #6AB6B9;
}
.sbz {
    color: #00866A;
}
.input4 {
    border: 1px solid #00866A;
    width: 19.9rem;
    height: 2.6rem;
}
.tqvim {
    background-color: #00866A;
    margin: 20px -37px;
}
.sleep {
    color: #1AB0B0;
}
.input5 {
    border: 1px solid #1AB0B0;
    width: 19.9rem;
    height: 2.6rem;
}
.tqvim1 {
    background-color: 
    #1AB0B0;
    margin: 20px -37px;
}

.Temprature {

color: #7A0B44;
}
.input6 {
    border: 1px solid #7A0B44;
    width: 19.9rem;
    height: 2.6rem;
}
.deg {
    background-color: #7A0B44;
    margin: 20px -37px;
    padding: 9px;
}
.Weight {
   color: #7B97A5; 
}
.input7 {
    border: 1px solid #7B97A5;
    width: 19.9rem;
    height: 2.6rem;
}
.kg {
    background-color: #7B97A5;
    margin: 20px -37px; 
    padding: 7px;
}
.cancel {
    border: 1px solid #00866A;
    padding: 7px 1.6rem;
    color: #00866A;
}
.ok {
background-color: #00866A;
padding: 7px 1.6rem ;
}